// 마우스 애니메이션
@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }

  15% {
    opacity: 1;
    top: 50%;
  }

  50% {
    opacity: 0;
    top: 50%;
  }

  100% {
    opacity: 0;
    top: 29%;
  }
}

// 메인 비주얼 영역 텍스트 애니메이션
@keyframes wrap-left {
  from {
    transform: translate(50%, -50%);
    opacity: 0;
  }

  to {
    transform: translate(0, -50%);
    opacity: 1;
  }
}

@keyframes outer-left {
  from {
    transform: translateX(50%);
  }

  to {
    transform: none;
  }
}

@keyframes inner-left {
  from {
    transform: translateX(50%);
  }

  to {
    transform: none;
  }
}

@keyframes text-clip {
  from {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }

  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}